<!DOCTYPE html>
<html ng-app='pop'>
    <head>
        <meta charset='utf-8'>
        <title>Popular Repos</title>

        <meta name='description' content='Week 9 - More Directives - Homework'>
        <meta name='author' content='Stella Ma'>
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, minimum-scale=1.0,
                maximum-scale=1.0, user-scalable=no'>

        <link
            href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            rel='stylesheet'
            type='text/css'
            integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
            crossorigin='anonymous'>

        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>Popular Repos</h1>
        </header>

        <main ng-controller='ReposController as reposCtrl'>

            <form
                novalidate
                name='getRepos'
                ng-submit='getRepos.$valid && reposCtrl.getUserRepos()'>
                <input
                    type='text'
                    name='username'
                    ng-model='reposCtrl.username'
                    placeholder='Enter username'
                    required>
                <input
                    type='text'
                    name='token'
                    ng-model='reposCtrl.token'
                    placeholder='GitHub Token'
                    required>
                <input type='submit' value='Get repos'>
            </form>

            <section>
                <h2>Repos</h2>
                <ul>
                    <li ng-repeat='repo in reposCtrl.allRepos'>
                        {{repo.name}}
                    </li>
                </ul>
            </section>

        </main>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script>
            if (!window.angular) {
                document.write(unescape('%3Cscript src="/js/vendor/angular/angular.js">%3C/script>'));
            }
        </script>

        <script src='/js/main.js'></script>

    </body>
</html>
